body {
	font-family: 'american typewriter';
	height: 100%;
}

.navigation {
	position: fixed;
	z-index: 20;
	display: table;
	width: 100%;
	height: 50px;
	margin-top: 5px;
	box-sizing: border-box;
	background-color: rgba(0,0,0,0.7);
	border-top: 0.5px solid rgba(255,255,255,0.5);
	border-bottom: 0.5px solid rgba(255,255,255,0.5);
	-webkit-backdrop-filter: blur(3px);
}

.logo {
	display: table-cell;
	vertical-align: middle;
	width: 150px;
	text-align: left;
	padding-left: 20px;
	margin-top: 2px;
}

.name:hover {
	cursor: pointer;
}

.nav-links {
	display: table-cell;
	vertical-align: middle;
	text-align: right;
	list-style-type: none;
	padding-right: 20px;
}

.nav-links li {
	display: inline-block;
	width: 125px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	font-size: 18px;
	letter-spacing: 0.5px;
	color: #FFFFFF;
	background-color: rgba(0,0,0,0.5);
	border-left: 0.5px solid rgba(255,255,255,0.5);
	border-right: 0.5px solid rgba(255,255,255,0.5);
	letter-spacing: 1px;
}

.nav-links li:hover {
	cursor: pointer;
	background-color: rgba(255,255,255,0.3);
}

.menu-icon {
	float: right;
	width: 30px;
	margin-right: 20px;
	margin-bottom: 12px;
	display: none;
}

.close-icon {
	float: right;
	width: 25px;
	margin-right: 20px;
	margin-bottom: 10px;
	display: none;
}

.menu-icon:hover, .close-icon:hover {
	cursor: pointer;
}

.menu-overlay {
	right: 0;
	z-index: 2;
	position: fixed;
	margin-right: 5px;
	margin-top: 75px;
	background-color: rgba(0,0,0,0.7);
	display: none;
	border: 0.5px solid rgba(0,0,0,0.5);
}

.menu-overlay li {
	list-style-type: none;
	padding: 10px;
	line-height: 30px;
	color: #FFFFFF;
	white-space: nowrap;
}

.menu-overlay li:hover {
	cursor: pointer;
	background-color: rgba(255,255,255,0.3);
}

.background-image {
	z-index: 0;
	position: fixed;
	width: 100%;
}

.strapline {
	z-index: 10;
	position: relative;
	padding-top: 75px;
	margin-bottom: -115px;
	width: 100%;
	text-align: center;
	font-size: 30px;
	font-family: 'Montserrat', sans-serif;
	color: rgba(255,255,255,0.5);
}

.content {
	z-index: 10;
	position: relative;
	background-color: #FFFFFF;
}

.services, .about {
	width: 100%;
	height: 100%;
	padding: 20px;
	background-color: rgba(255,255,255,1);
	box-sizing: border-box;
	border-bottom: 0.5px solid rgba(0,0,0,0.5);
	text-align: justify;
}

.services-header, .about-header {
	width: 100%;
	padding-bottom: 10px;
	font-family: 'Montserrat', sans-serif;
}

.services-content {
	padding-bottom: 250px;
}

.about-content {
	padding-bottom: 250px;
}

.image-container {
	margin: 0 auto;
	width: 640px;
	height: 437px;
}

.image-container div:hover {
	-webkit-filter: blur(3px);
}

.icons {
	margin-left: 10px;
}

.contact {
	width: 100%;
	height: 500px;
	padding: 20px;
	box-sizing: border-box;
	background-color: rgba(255,255,255,1);
	border-bottom: 0.5px solid rgba(0,0,0,0.5);
	font-family: 'Montserrat', sans-serif;
}

.linkedin, .github, .twitter {
	width: 30px;
	margin-top: 5px;
	margin-right: 10px;
}

@media only screen and (max-width: 800px) {
	body {
		background-size: 100%;
	}
	.strapline {
		padding-top: 75px;
		margin-bottom: -100px;
		font-size: 22px;
	}
	.filler {
		height: 300px;
	}
	.nav-links li {
		display: none;
	}
	.menu-icon {
		display: unset;
	}
	.alike-video {
		width: 480px;
		height: 270px;
	}
	.zombie-image, .bike-image, .quiz-image {
		width: 480px;
	}
	.image-container {
		width: 480px;
		height: 327.75px;
	}
}

@media only screen and (max-width: 450px) {
	body {
		background-size: 100%;
	}
	.strapline {
		padding-top: 60px;
		margin-bottom: -80px;
		font-size: 18px;
	}
	.filler {
		height: 175px;
	}
	.descriptions, .me, .code {
		font-size: 12px;
	}
	.alike-video {
		width: 320px;
		height: 180px;
	}
	.zombie-image, .bike-image, .quiz-image {
		width: 320px;
	}
	.zombie-header {
		width: 50%;
	}
	.image-container {
		width: 320px;
		height: 218.5px;
	}
}	